:root {
	--color-foreground-01: #ededed;
	--color-foreground-02: #b2b2b2;
	--color-foreground-03: #6a6a6a;

	--color-background-01: #0b0b0b;
	--color-background-02: #1c1c1c;

	--color-brand-01: #ff3e00;
	--color-brand-02: #3f0a0a;
}
